<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cambiar Contraseña</title>
</head>
<body>
  <h1>Cambiar Contraseña</h1>
  <form action="/user/change-password/{{userId}}" method="POST">
    <input type="hidden" name="userId" value="{{userId}}">
    <div>
      <label for="password">Nueva Contraseña:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <label for="confirm-password">Confirmar Contraseña:</label>
      <input type="password" id="confirm-password" name="confirmPassword" required>
    </div>
    <button type="submit">Cambiar Contraseña</button>
  </form>
</body>
</html>
